DATABASE_URL=""
RESEND_API_KEY=""
RESEND_EMAIL_FROM=""
FRONTEND_URL=""
PORT=3000
JWT_ISSUER="meal-deli-api"
JWT_AUDIENCE="meal-deli-client"
JWT_SECRET=""
# JWT_ACCESS_SECRET=""
# JWT_ACCESS_EXPIRES_IN="15m"
# JWT_REFRESH_SECRET=""
# JWT_REFRESH_EXPIRES_IN="30d"